$body-font:  'Rubik', sans-serif;
$primary-color: #7EDE82;
$secondary-color: #0A1F26;

$bg-color: #102B35;
$title-color: #fff;
$text-color: #a8d2d6;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1280px;
$xx-breakpoint: 1500px;
